body {
  background-color: background-image: -webkit-gradient(linear, left top, left bottom, from(turquoise), to(end-color));
  background-image: -webkit-linear-gradient(top, turquoise, violet);
  background-image: -moz-linear-gradient(top, turquoise, violet);
  background-image: linear-gradient(to bottom, turquoise, violet);;
}